<%- include('./partials/head') %> 


<main>
 <section class="intro">
    <h1>Gedeelde favorieten</h1>
    <div>
        <section class="lijsten">
            <form type="submit">
                <input type="text" name="list" placeholder="Add a new list">
                <button type="submit">+</button>
            </form>
            <ul>
                <li><a id="list-item1" href="#">Eerste woning</a><button id="delete-button">X</button></li>
                <li><a id="list-item2" href="#">Oma's garage</a><button id="delete-button">X</button></li>
                <li><a id="list-item3" href="#">FDND studio</a><button id="delete-button">X</button></li>
            </ul>
        </section>

        <article class="lijsten-banner">
            <h2>Lijsten</h2>
            <p>Maak een nieuwe lijst aan of kies een bestaande lijst om je bewaarde huizen te organiseren.</p>
            <img src="/assets/Funda-illustratie.png" alt="Funda illustratie">
        </article>
    </div>
</section>




<h2>Eerste woning
<button class="add-collaborator">+ Voeg een collaborator toe</button></h2>
<% houses.forEach(function(house) { %>
    <section class="house">
        <img src="https://fdnd-agency.directus.app/assets/<%= house.f_houses_id.poster_image %>" alt="Afbeelding van een huis">
      <ul class="house-info">
      <li>
        <h3><%= house.f_houses_id.street %> <%= house.f_houses_id.house_nr %> <%= house.f_houses_id.nr_addition %></h3>
      </li>
      <li>
        <p><%= house.f_houses_id.postal_code %></p>
        <p><%= house.f_houses_id.city %></p>
      </li>
      <li>
        <p>€<%= house.f_houses_id.price %>K.K.</p>
      </li>
      <li>
         <p><%= house.f_houses_id.m2 %> m2/<%= house.f_houses_id.rooms %> kamers</p>
      </li>
      </ul>
      <span class="material-symbols-outlined">close</span>
      <button class="ranking-button">Beoordeling toevoegen</button>
    </section>

    <section class="ranking-field">
        <article class="beoordeling">
            <h3>Beoordeel dit huis</h3>
          <form id="scoreForm" action="/" method="POST">
            <label>Algemene beoordeling</label>
            <input type="range" min="0" max="10" value="0" name="algemeneBeoordeling" class="slider">
            <span class="sliderValue">0</span>

            <label>Locatie</label>
            <input type="range" min="0" max="10" value="0" name="locatie" class="slider">
            <span class="sliderValue">0</span>

            <label>Prijs</label>
            <input type="range" min="0" max="10" value="0" name="prijs" class="slider">
            <span class="sliderValue">0</span>


            <label>oppervlakte</label>
            <input type="range" min="0" max="10" value="0" name="oppervlakte" class="slider">
            <span class="sliderValue">0</span>

            <label>Ligging</label>
            <input type="range" min="0" max="10" value="0" name="ligging" class="slider">
            <span class="sliderValue">0</span>

            <label>Kamers</label>
            <input type="range" min="0" max="10" value="0" name="kamers" class="slider">
            <span class="sliderValue">0</span>
          <button type="submit" class="submit-ranking">Verstuur beoordeling</button>
            </form>
      </article>

      <article class="uitkomsten-beoordeling">
        <h3>Vergelijk de beoordelingen</h3>
        <% if (algemeen.length > 0) { %>
            <% algemeen.forEach(number =>{ %>
                <li class="message">Cijfer algemeen: <%= number %></li>
            <% }) %>
        <% } else { %>
            <li class="message">Cijfer algemeen: No number entered</li>
        <% } %>

      </article>
    </section>
<% }) %>



</main>







</body>
</html>